<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho – Cléo Modas Femininas</title>

    <link rel="stylesheet" href="style3.css">
</head>
<body>

<header class="topbar">
    <div class="topbar-avatar">K</div>
    <div class="topbar-info">
    <!-- th:text="${usuario.nome}" -->
    <strong>Karina</strong>
    <!-- th:text="${usuario.email}" -->
    <span>karina4@gmail.com</span>
    </div>
    </header>

    <div class="breadcrumb">
    Cléo MF <span>&nbsp;|&nbsp;</span> Pagamento
    </div>


<main class="carrinho-container">

    <div class="topo-carrinho">
        <h1>Cléo MF | Carrinho (3)</h1>

        <div class="busca">
            <input type="text" placeholder="Buscar...">
            <button>🔍</button>
        </div>
    </div>

    <!-- PRODUTO -->

    <div class="produto-carrinho">

        <input type="checkbox">

        <img src="imgs/bolsadecouro.png" alt="Bolsa de couro">

        <div class="info-produto">
            <h2>Bolsa de Couro</h2>
            <p>Cor: Marrom</p>
            <span>R$ 350</span>
        </div>

        <div class="quantidade">
            <button>+</button>
            <span>1</span>
            <button>-</button>

            <select>
                <option>15cm x 15cm</option>
            </select>
        </div>

        <div class="preco-total">
            <p>R$ 350</p>
        </div>

        <div class="acoes">
            <a href="#">Excluir</a>
        </div>

    </div>

</main>

<footer class="footer-carrinho">

    <div class="cupom">
        <p>CUPOM DE DESCONTO:</p>
        <input type="text" placeholder="PROMOAQUI">
    </div>

    <div class="finalizar">
        <p>Total (1 item): <span>R$ 350</span></p>
        <button>CONTINUAR</button>
    </div>

</footer>

<link rel="stylesheet" href="style.css">
</body>
</html>