@font-face {
    font-family: Jost;
    src: url(fonts/Jost-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Mina;
    src: url(fonts/Mina-Regular.ttf) format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--branco);
}

:root {
    --roxo: #851B87;
    --roxo-escuro: #550b62;
    --preto: #090000;
    --branco: #ffffff;
    --cor-texto-preto: #000000;
    --cor-texto-transparente: #ffffff65;
}

.topo{
    background-color: var(--roxo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.barra-pesquisa {
    width: 412px;
    height: 48px;
    background-color: #090000;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;

    /* remove o margin-left e adiciona isso: */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.barra-pesquisa input{
    background: transparent;
    border: none;
    outline: none;

    color: var(--branco);

    width: 100%;

    font-size: 16px;
}
.icones-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icone-conta {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.info-conta {
    display: flex;
    flex-direction: column;
}

.icones-header a {
    font-family: Jost;
    text-decoration: none;
    color: var(--branco);
    font-size: 15px;
}

.nome-usuario {
    font-weight: bold;
    font-family: Mina;
}

.icone-carrinho {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--branco);
    font-size: 14px;
}
.menu {
    background-color: var(--preto);
    padding: 15px 40px;
}